/* Generic Utils */

.stretch-on-hover:hover {
  padding-right: 1.5rem;
  transition: 0.5s;
}

.translucent-bg-25 {
  background-color: rgba(0, 0, 0, 0.25);
}

.translucent-bg-40 {
  background-color: rgba(0, 0, 0, 0.4);
}

.translucent-bg-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.translucent-bg-60 {
  background-color: rgba(0, 0, 0, 0.6);
}

.translucent-bg-75 {
  background-color: rgba(0, 0, 0, 0.75);
}

.translucent-white-bg-25 {
  background-color: rgba(255, 255, 255, 0.25);
}

.translucent-white-bg-40 {
  background-color: rgba(255, 255, 255, 0.4);
}

.translucent-white-bg-50 {
  background-color: rgba(255, 255, 255, 0.5);
}

.translucent-white-bg-60 {
  background-color: rgba(255, 255, 255, 0.6);
}

.translucent-white-bg-75 {
  background-color: rgba(255, 255, 255, 0.75);
}

.btn-rounded {
  border-radius: 20%;
}

nav#generic-navbar div#nav-menu li.active {
  border-bottom: 0.1rem solid rgb(14, 138, 14) !important;
}

nav#generic-navbar .navbar-toggler:hover {
  border-color: rgb(255, 255, 255) !important;
  padding-right: 2rem;
  transition: padding 0.3s;
  transition-timing-function: ease;
}

nav#generic-navbar div#nav-menu li a:hover {
  color: rgb(43, 201, 37) !important;
  border-bottom: 0.3rem solid rgb(19, 109, 16);
  border-radius: 0.3rem;
  transition: 0.3s;
  transition-timing-function: linear;
}

nav#generic-navbar div#nav-menu li.active {
  border-bottom: 0.1rem solid rgb(19, 109, 16);
}

div#page-contents {
  position: relative;
  min-height: 100vh;
}

main#content-wrap {
  padding-bottom: 27rem;
  background: rgb(255, 255, 255);
}

footer#generic-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*height: 15rem;*/
}

/* index */
div .index-header {
  background-image: url(../imgs/header.jpg);
  background-size: cover;
}

div .index-header .headline {
 position: relative; 
 padding-top: 19%;
 padding-bottom: 30%;
}

div .index-header .index-header-title {
  color: rgb(181, 196, 184);
  font-size: 7rem;
}

div .index-header .auth-container a {
  font-size: 2rem;
}

div .index-header .auth-container a#login {
  width: 15rem !important;
}

@media(max-width: 34em) {
  div .index-header .index-header-title {
    font-size: 3rem;
  }

  div .index-header .auth-container a {
    font-size: 1.1rem;
  }

  div .index-header .auth-container a#login {
    width: 10rem !important;
  }
}