/* Generic Utils */

.stretch-on-hover:hover {
  padding-right: 1.5rem;
  transition: 0.5s;
}

.translucent-bg-25 {
  background-color: rgba(0, 0, 0, 0.25);
}

.translucent-bg-40 {
  background-color: rgba(0, 0, 0, 0.4);
}

.translucent-bg-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.translucent-bg-60 {
  background-color: rgba(0, 0, 0, 0.6);
}

.translucent-bg-75 {
  background-color: rgba(0, 0, 0, 0.75);
}

.translucent-white-bg-25 {
  background-color: rgba(255, 255, 255, 0.25);
}

.translucent-white-bg-40 {
  background-color: rgba(255, 255, 255, 0.4);
}

.translucent-white-bg-50 {
  background-color: rgba(255, 255, 255, 0.5);
}

.translucent-white-bg-60 {
  background-color: rgba(255, 255, 255, 0.6);
}

.translucent-white-bg-75 {
  background-color: rgba(255, 255, 255, 0.75);
}

.btn-rounded {
  border-radius: 20%;
}

nav#generic-navbar div#nav-menu li.active {
  border-bottom: 0.1rem solid rgb(14, 138, 14) !important;
}

nav#generic-navbar .navbar-toggler:hover {
  border-color: rgb(255, 255, 255) !important;
  padding-right: 2rem;
  transition: padding 0.3s;
  transition-timing-function: ease;
}

nav#generic-navbar div#nav-menu li a:hover {
  color: rgb(43, 201, 37) !important;
  border-bottom: 0.3rem solid rgb(19, 109, 16);
  border-radius: 0.3rem;
  transition: 0.3s;
  transition-timing-function: linear;
}

nav#generic-navbar div#nav-menu li.active {
  border-bottom: 0.1rem solid rgb(19, 109, 16);
}

div#page-contents {
  position: relative;
  min-height: 100vh;
}

main#content-wrap {
  padding-bottom: 27rem;
  background: rgb(255, 255, 255);
}

footer#generic-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*height: 15rem;*/
}

/* index */
div .index-header {
  background-image: url(../imgs/header.jpg);
  background-size: cover;
}

div .index-header .headline {
 position: relative; 
 padding-top: 19%;
 padding-bottom: 30%;
}

div .index-header .index-header-title {
  color: rgb(181, 196, 184);
  font-size: 7rem;
}

div .index-header .auth-container a {
  font-size: 2rem;
}

div .index-header .auth-container a#login {
  width: 15rem !important;
}

@media(max-width: 34em) {
  div .index-header .index-header-title {
    font-size: 3rem;
  }

  div .index-header .auth-container a {
    font-size: 1.1rem;
  }

  div .index-header .auth-container a#login {
    width: 10rem !important;
  }
}

/*ABOUT PAGE*/
#about-container{
  padding: 0; 
  margin: 0;
  width: 100%;
  min-height: 500px;
  background-image: url('../imgs/bg-image.jpg');
  background-size: contain;
  background-repeat: repeat;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about-section-1{
  width: 100%;
  min-height: 200px;
  color: azure;
}
.about-section-1 h1{ /*Title*/
  border-bottom: 5px solid seagreen;
}
.text-wrap{
  background-color: rgba(0, 0, 0, 0.555);
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
.about-section-2 img{/*logos*/
  border: 0 solid whitesmoke;
		border-radius: 50%;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
    width:150px;
    height: 150px;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.719), 0 16px 30px 0 rgba(0, 0, 0, 0.603);
    margin: 10px 40px;
  }
.about-section-2{
  width: 100%;
}
.about-section-2 .logo-wrapper{
  width: 50%;
  float: left;
  margin: 0 auto;
}
.about-section-2 p{ /*logo tags*/
  padding: 0;
  margin: 10px 40px;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.555);
  text-align: center;
  color: rgb(57, 160, 101);
} 
.about-section-3{
  width: 100%;
  float: inline-start;
}
.about-section-3 >div{
  float: left; 
  width: 50%;
  height: 200px;
  text-align: center;
  padding: 15px;

}
.about-section-3 .innersection-1{
  background-color: lightgray;
  float: left;
}
.about-section-3 .innersection-2{
  background-color: #333;
  color: lightgray;
  float: right;
}
@media(max-width: 34em) {
  div .about-section-3{
    float: none;
  }
}

/*RESOURCES PAGE*/
.res-container{
  width: 100%;
  min-height: 500px;
  box-sizing: border-box;
  background: seagreen;
  color: #222;
  line-height: 1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1em;
}
.wrapper{
  box-shadow: 0 0 20px 0 rgba(16, 43, 9, 0.89);
  width: 600px;
  margin: 0 auto;
}

.res-info{
  padding: 1em;
  background: #c9e6ff;
}
.res-selection div{
  float: left;
}

.res-selection {
  background: #333;
  color:rgb(119, 108, 108);
  padding: 20px;
}

.res-selection form select{
  width: 60%;
  height: 30px;
  margin:5px;
  padding: 0 20px;
}

.res-selection form button{
  width: 25%;
  padding: 10px 0;
  position: relative;
  margin: 0 auto;
  right: 0px;
  border: 0;
  border-radius: 10px;
  background: rgb(0, 143, 55);
  color: #fff;
}
.res-selection form button:hover{
  background-color: rgb(43, 201, 37)
}
.res-selection form label{
  color: azure;
}
.res-MFV{ /*msv = most frquently visited*/
  width: 100%;
  min-height: 300px;
  background-color: beige; 
}
.res-MFV h4{
  color: darkred;
  padding: 5px 10px;
}
.res-MFV li{
  border-bottom: 2px dotted #333;
  height: 30px;
}


